<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237976682898-3i7ik5a70f26mpefvkpblb8an31th6e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237976682898-3i7ik5a70f26mpefvkpblb8an31th6e9</string>
	<key>API_KEY</key>
	<string>AIzaSyA0-NhLzs2S-3OrTV3THphZGbqZBng7Ic4</string>
	<key>GCM_SENDER_ID</key>
	<string>237976682898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.aaleksandrov.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-study-23c26</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-study-23c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237976682898:ios:ad7266a23bc3f2208dc14b</string>
</dict>
</plist>